body {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-family: sans-serif;
  user-select: none;
}

.logo {
  font-size: 72px;
  font-family: cursive;
  letter-spacing: 6px;
}

.logo img {
  width: 62px;
  vertical-align: bottom;
  margin: 0 -2px 7px -6px;
}

.container {
  display: inline-block;
  position: relative;
}

x-game {
  display: inline-block;
}

#start_button {
  --width: 260px;
  position: absolute;
  width: var(--width);
  padding-bottom: 8px;
  top: 226px;
  left: calc(50% - var(--width) / 2);
  background-color: #7ce96d;
  border: 1px solid black;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #333;
  font-family: cursive;
  font-size: 70px;
  cursor: pointer;
}

.credits {
  font-size: 16px;
  color: #666;
}

.credits>div {
  margin-bottom: 8px;
}

a {
  color: #000;
}

#top_row {
  text-align: left;
  visibility: hidden;
}

.sound-button {
  display: inline-block;
  padding-left: 2px;
  padding-right: 8px;
  cursor: pointer;
}

.speaker {
  height: 20px;
  vertical-align: bottom;
  margin-right: 2px;
}

.speaker-text {
  display: inline-block;
  font-family: cursive;
  font-size: 18px;
  line-height: 20px;
}

.life-icon {
  transition: transform 0.6s, opacity 0.6s;
  height: 26px;
}

.life-icon.used {
  opacity: 0;
  transform: scale(0.01);
}